/* Max Compatibility Font Face Declarations */
/* https://css-tricks.com/snippets/css/using-font-face/ */

/* All custom fonts are a subset of the Comfortaa (light) font */
/* http://aajohan.deviantart.com/art/Comfortaa-font-105395949 */

/* f_Fo font is subset containing ```Fo``` */
/* f_Yu font is subset containing ```Yu``` */
/* Numbered fonts are copies of subset containing ``` ,FHWadeflnorty``` */

/* Fonts processed with Font Squirrel's webfont generator tool */
/* https://www.fontsquirrel.com/tools/webfont-generator */

@font-face {
  font-family: 'f_Fo';
  src: url('f_Fo.eot');
  src: url('f_Fo.eot?#iefix') format('embedded-opentype'),
       url('f_Fo.woff2') format('woff2'),
       url('f_Fo.woff') format('woff'),
       url('f_Fo.ttf') format('truetype'),
       url('f_Fo.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f_Yu';
  src: url('f_Yu.eot');
  src: url('f_Yu.eot?#iefix') format('embedded-opentype'),
       url('f_Yu.woff2') format('woff2'),
       url('f_Yu.woff') format('woff'),
       url('f_Yu.ttf') format('truetype'),
       url('f_Yu.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f1';
  src: url('f1.eot');
  src: url('f1.eot?#iefix') format('embedded-opentype'),
       url('f1.woff2') format('woff2'),
       url('f1.woff') format('woff'),
       url('f1.ttf') format('truetype'),
       url('f1.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f2';
  src: url('f2.eot');
  src: url('f2.eot?#iefix') format('embedded-opentype'),
       url('f2.woff2') format('woff2'),
       url('f2.woff') format('woff'),
       url('f2.ttf') format('truetype'),
       url('f2.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f3';
  src: url('f3.eot');
  src: url('f3.eot?#iefix') format('embedded-opentype'),
       url('f3.woff2') format('woff2'),
       url('f3.woff') format('woff'),
       url('f3.ttf') format('truetype'),
       url('f3.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f4';
  src: url('f4.eot');
  src: url('f4.eot?#iefix') format('embedded-opentype'),
       url('f4.woff2') format('woff2'),
       url('f4.woff') format('woff'),
       url('f4.ttf') format('truetype'),
       url('f4.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f5';
  src: url('f5.eot');
  src: url('f5.eot?#iefix') format('embedded-opentype'),
       url('f5.woff2') format('woff2'),
       url('f5.woff') format('woff'),
       url('f5.ttf') format('truetype'),
       url('f5.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f5';
  src: url('f5.eot');
  src: url('f5.eot?#iefix') format('embedded-opentype'),
       url('f5.woff2') format('woff2'),
       url('f5.woff') format('woff'),
       url('f5.ttf') format('truetype'),
       url('f5.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f6';
  src: url('f6.eot');
  src: url('f6.eot?#iefix') format('embedded-opentype'),
       url('f6.woff2') format('woff2'),
       url('f6.woff') format('woff'),
       url('f6.ttf') format('truetype'),
       url('f6.svg#comfortaalight') format('svg');
}

@font-face {
  font-family: 'f7';
  src: url('f7.eot');
  src: url('f7.eot?#iefix') format('embedded-opentype'),
       url('f7.woff2') format('woff2'),
       url('f7.woff') format('woff'),
       url('f7.ttf') format('truetype'),
       url('f7.svg#comfortaalight') format('svg');
}
